<aside class="sidebar">
	<nav class="sidebar-nav">
		<div class="nav-top-links">
			<a href="#hero" class="nav-link">
				<div class="icon-wrapper">
					<i class="fa fa-star link-icon"></i>
				</div>
				<div class="link-label">
				 Inicio
				</div>
			</a>

			<a href="#services" class="nav-link">
				<div class="icon-wrapper">
					<i class="fa fa-id-card link-icon" aria-hidden="true"></i>
				</div>
				<div class="link-label">
					Servicios
				</div>
			</a>

			<a class="nav-link">
				<div class="icon-wrapper">
					<i class="fa fa-code link-icon"></i>
				</div>
				<div class="link-label">
					Código
				</div>
			</a>

			<a class="nav-link">
				<div class="icon-wrapper">
					<i class="fa fa-star link-icon"></i>
				</div>
				<div class="link-label">
				 Rockstar
				</div>
			</a>
		</div>

		<div class="nav-bottom-links">
			<div class="social-links collapse" id="social-collapse">

				<a class="nav-link social-link">
					<div class="icon-wrapper">
						<i class="fa fa-codepen link-icon" aria-hidden="true"></i>
					</div>
					<div class="link-label">
						Codepen
					</div>
				</a>

				<a class="nav-link social-link">
					<div class="icon-wrapper">
						<i class="fa fa-github link-icon" aria-hidden="true"></i>
					</div>
					<div class="link-label">
						Github
					</div>
				</a>

				<a class="nav-link social-link">
					<div class="icon-wrapper">
						<i class="fa fa-gitlab link-icon" aria-hidden="true"></i>
					</div>
					<div class="link-label">
						Gitlab
					</div>
				</a>

				<a class="nav-link social-link">
					<div class="icon-wrapper">
						<i class="fa fa-slack link-icon" aria-hidden="true"></i>
					</div>
					<div class="link-label">
						Slack
					</div>
				</a>

				<a class="nav-link social-link">
					<div class="icon-wrapper">
						<i class="fa fa-linkedin link-icon" aria-hidden="true"></i>
					</div>
					<div class="link-label">
						Linkedin
					</div>
				</a>

				<a class="nav-link social-link">
					<div class="icon-wrapper">
						<i class="fa fa-facebook link-icon" aria-hidden="true"></i>
					</div>
					<div class="link-label">
						Facebook
					</div>
				</a>

				<div class="shadow-box"></div>
			</div>

			<a class="nav-link socials-link" role="button" data-toggle="collapse" href="#social-collapse" aria-expanded="false" aria-controls="social-collapse">
				<div class="icon-wrapper">
					<i class="fa fa-users link-icon" aria-hidden="true"></i>
				</div>
				<div class="link-label">
					Mis redes
				</div>
			</a>

		</div>
	</nav>
</aside>
