<section class="section hero" id="hero">
	<div class="hero-content-wrapper">
		<div class="head">
			<span class="red"><</span> Andreus.io <span class="red">/></span>
		</div>
		<div class="subhead">
			Front-end developer
		</div>
	</div>

	<a class="hero-down-button" href="#services">
		<div class="down-button">
			<i class="fa fa-angle-down down-icon" aria-hidden="true"></i>
		</div>
	</a>
</section>
