<section class="section hero">
	<div class="section-content">
		<div class="hero-content-wrapper">
			<div class="head">
				<span class="red"><</span> Andreus.io <span class="red">/></span>
			</div>
			<div class="subhead">
				Freelance Front-end
			</div>
			<div class="down-button">
				<i class="fa fa-angle-down down-icon" aria-hidden="true"></i>
			</div>
		</div>
	</div>
</section>
