$orange-accent: #ffab40;
$orange: #ff9800;
$red: #f44336;
$dark-gray: #263238;
$lighten-dark-gray: #37474f;
$light-gray: #eceff1;

.red {
	color: $red;
}

.orange {
	color: $orange;
}

.light-gray {
	color: $light-gray;
}
